/* Fonte usada*/
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

*{
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Cores para o site */
:root {
    --cor-um: #BC04BF;
    --cor-dois: #010B40;
    --cor-tres: #010B40;
    --cor-quatro: #010626;
    --cor-cinco: #056CF2;
    --cor-seis: #0583F2;
}




