:root {
    --bg-light: #f8fafc;        /* Fundo bem clarinho */
    --azul-principal: #2563eb;       /* Azul */
    --azul-escuro: #1e3a8a;       /* Azul Escuro */
    --texto-escuro: #1e293b;       /* Texto principal */
    --texto-cinza: #64748b;     /* Texto secundário */
    --branco: #ffffff;
    --border-color: #e2e8f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-light);
    color: var(--texto-escuro);
    font-family: 'Inter', 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: var(--branco);
    border-bottom: 1px solid var(--border-color);
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--texto-escuro);
}

.logo span {
    color: var(--azul-principal);
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.botao-menu {
    text-decoration: none;
    color: var(--texto-cinza);
    font-weight: 500;
    transition: 0.3s;
}

.botao-menu:hover {
    color: var(--azul-principal);
}

aside {
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--branco);
    padding: 15px 10px;
    border-radius: 50px; /* Deixa ele com formato de pílula */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color);
    z-index: 10;
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

aside a img {
    width: 35px;         
    height: 35px;
    display: block;    
    transition: 0.3s ease;
}

aside a:hover img {
    transform: translateY(-3px);
    opacity: 0.6;
}

.projetos-link {
    display: inline-block;
    background-color: var(--azul-principal);
    color: var(--branco);
    padding: 12px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 14px 0 rgba(37, 99, 235, 0.39);
}

.projetos-link:hover {
    background-color: var(--azul-escuro);
    transform: translateY(-2px);
}

/* Efeito quando o botão é clicado */
.projetos-link:active {
    transform: translateY(0);  
}

/* Criando animação */
@keyframes entradaSuave {
    from {
        opacity: 0;
        transform: translateY(20px); /* Começa 20px abaixo */
    }
    to {
        opacity: 1;
        transform: translateY(0);    /* Termina na posição original */
    }
}

.nome {
    font-size: 3.5rem;     
    font-weight: 800;
    color: var(--texto-escuro);
    margin-bottom: 10px;
    
    /* Ativando a animação */
    animation: entradaSuave 1s ease-out forwards;
}

.hero-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10% 0 15%;
    gap: 80px;
}

.hero-info {
    max-width: 550px;
}

.cargo {
    font-size: 1.2rem;
    color: var(--azul-principal);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

/* Estilizando o Boas-vindas */
.bem-vindo {
    font-size: 2rem;
    color: var(--texto-escuro);
    margin-bottom: 20px;
}

/* Estilizando o parágrafo descritivo */
.hero-info p {
    font-size: 1.1rem;
    color: var(--texto-cinza);
    margin-bottom: 30px;
}

.hero-img img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 999px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08); /* Sombrinha */
}

footer {
    background-color: var(--branco);
    border-top: 1px solid var(--border-color);
    padding: 25px 0;
    text-align: center;
    margin-top: auto;
}

footer p {
    color: var(--texto-cinza);
    font-size: 0.9rem;
}